<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.experts.cdvaivoice" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CdvAiVoice</name>
	<js-module name="CdvAiVoice" src="www/CdvAiVoice.js">
		<clobbers target="cordova.plugins.CdvAiVoice" />
	</js-module>
	<platform name="ios">
		<!-- Add usage description for speech recognition -->
	    <config-file target="*-Info.plist" parent="NSSpeechRecognitionUsageDescription">
	        <string>This app uses speech recognition to process your voice commands.</string>
	    </config-file>

	    <!-- Add usage description for microphone access -->
	    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
	        <string>This app needs microphone access to record audio for speech recognition.</string>
	    </config-file>
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
		<hook type="after_plugin_add" src="hooks/add_swift_support.js" />
		<config-file parent="/*" target="config.xml">
			<feature name="CdvAiVoice">
				<param name="ios-package" value="CdvAiVoice" />
			</feature>
		</config-file>
		<source-file src="src/ios/CdvAiVoice.swift" />
	</platform>

	<platform name="android">

		 <config-file target="config.xml" parent="/*">

            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinVersion" value="1.6.20" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>

            <feature name="CdvAiVoice">
                <param name="android-package" value="com.outsystems.experts.cdvaivoice.CdvAiVoice" />
            </feature>

        </config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
		</config-file>

		<source-file src="src/android/CdvAiVoice.kt" target-dir="java/com/outsystems/experts/cdvaivoice/" />
	</platform>

</plugin>